<footer class="card text-white bg-primary mb-3" style="padding-left: 5%;padding-bottom: opx;">
    <div   >
      <h3 class="card-title">About Us</h3>
      <p class="card-text">
          <a><u>Contact Details </u></a><br>
          <a>Airoli</a><br>
          <a>Mumbai</a><br>
          <a>Email: Ecommerce@lnt class="com"</a><br>
          <a>Phno: +91-9849925634</a><br>
      </p>   
      <p>    
        <a class="btn btn-danger" href="#" role="button">Learn more</a>
      </p>
    </div>
  </footer>