<app-header></app-header>
<body>
  <div class="container">
      <p style="background-color: black; color: white; font-size: 20px">Wishlist</p>
  </div>

  <div class="container">
<table class="table table-bordered" >
  <thead>
    <tr>
      <th>Product Image</th>
      <th>Product info</th>
      <th>Payble Amount</th>      
      <th></th>
    </tr>
  </thead>
      <tbody>
      <tr *ngFor="let product of wishlist" >
        <td><img [src]="product.pImage1" style="width: 140px; height: 180px"/></td>
        <td><a><b>Product Name:</b>{{product.pName}}</a><br>
            <a><b>Brand:</b>{{product.pBrand}}</a><br>
            <a><b>Price:</b>{{product.pPrice}}</a><br>
        </td>
                            
        <td>
          <button type="button" class="btn btn-block" style="background-color:chartreuse" (click)="addToCart(product.pId)"><b>Move to Cart</b></button>
          <!-- <button type="buton" class="btn btn-block" style="background-color:rgb(155, 81, 81)" (click)="addProductTocart(product.cId)"><b>+update</b></button>
          <button type="buton" class="btn btn-block" style="background-color:darkgreen" (click)="deleteProductFromcart(product.cId)"><b>-update</b></button>
          <button type="buton" class="btn btn-block" style="background-color:cyan" (click)="deleteCart(product.wId)"><b>Delete Cart</b></button> -->
        </td>
      </tr>
          </tbody>
      </table>
  </div>
</body>
<app-footer></app-footer>