#sort{
    margin-left: 300px;
    margin-right: 200px;
    margin-top: 50px;
    border : red 2px;
}
button{
    margin-right: 30px;
}
th{
    margin-right:10px;
}
#cart{
    margin-left: 800px;
}